body {
    font-family: monospace;
    color: #D0D0D0;
    background-color: #202020;
    font-size: 1vw;
}

td {
    text-align: left;
    vertical-align: top;
    margin: 0px;
    width: 24vw;
}

ul {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

li {
    margin: 1px;
    padding: 5px;
}

li:hover {
    background-color: #5A5A5A;
}

input {
    font-family: inherit;
    color: inherit;
    background-color: #5A5A5A;
    border: 3px solid #404040;
}
